*{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

/*--------------SEC1--------------*/

.sec1{
    margin: auto;
    background: linear-gradient(228deg, #fff 0%, #edeff3 100%);
}

.sec1div{
    max-width: 1100px;
    margin: auto;
    padding: 100px 25px;
}

.sec1div{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.sec1 h1{
    font-size: 45px;
    font-weight: 700;
}

.sec1 p{
    font-size: 22px;
    font-weight: 400;
}

li > *{
    display: inline-block;
    vertical-align: middle;
    }

.sec1 li{
    font-size: 20px;
    list-style: none;
    padding-bottom: 10px;
    line-height: 1rem;
}

.div1-r img{
    max-width: 100%;
    width: 300px;
}

.div1-r{
    align-items: center;
    justify-content: center;
    margin: auto;
}

.div1-l{
    margin: auto;
    align-items: center;
    justify-content: center;
}

button{
    all: unset;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

.btn{
    background-color: #cc0f0f;
    padding: 20px 40px;
    border-radius: 7px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2em;
    transition: 0.2s;
}
.btn:hover{
    background-color: #aa0e0e;
    transition: 0.2s;
}

/*--------------SEC2--------------*/

.sec2{
    margin: auto;
    background: #fff
}

.sec2div{
    max-width: 1100px;
    margin: auto;
    padding: 100px 25px;
    text-align: center;
}

.sec2div h1{
    font-size: 35px;
}

.sec2div p{
    font-size: 18px;
    color: rgb(93, 93, 93);
    font-weight: 300;
}

.formula{
    justify-content: center;
    align-items: center;
}

.formula-r{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.formula img{
    max-width: 100%;
    width: 500px;
}


.formula-r h1{
    font-size: 20px;
    text-align: center;
    color: #cc0f0f;
    margin: 5px 0;
}

.formula-r p{
    font-size: 16px;
    text-align: center;
}

.boxformula{
    background-color: #edeff384;
    padding: 20px;
    margin: 10px;
    border-radius: 7px;
}

.boxformula img{
    max-width: 100%;
    width: 90px;
    border-radius: 50px;
}

/*--------------SEC3--------------*/

.sec3{
    margin: auto;
    background: #edeff388
}

.sec3div{
    max-width: 1100px;
    margin: auto;
    padding: 100px 25px;
    text-align: center;
}

.benefits{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.sec3div h1{
    font-size: 35px;
}

.sec3div p{
    font-size: 18px;
    color: rgb(93, 93, 93);
    font-weight: 300;
}


.boxbenefits{
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    margin: 10px;
    border-radius: 7px;
    box-shadow: 0px 10px 26px -6px rgba(0,0,0,0.05);
}

.boxbenefits h1{
    font-size: 20px;
}

.boxbenefits p{
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.2rem;
    color: rgb(93, 93, 93);
    font-weight: 300;
}

/*--------------SEC4--------------*/

.sec4{
    margin: auto;
    background: #fff
}

.sec4div{
    max-width: 1100px;
    margin: auto;
    padding: 100px 25px;
}

.sec4div h1{
    font-size: 35px;
}

.sec4div p{
    font-size: 18px;
    color: rgb(93, 93, 93);
    font-weight: 300;
}

.depo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.depo img{
    max-width: 100%;
    width: 80px;
    border-radius: 50px;
    margin-top: -65px;
}

.depoimentos{
    background-color: #f5f5f5;
    padding: 30px;
    margin: 10px;
    border-radius: 5px;
    margin-top: 50px;
}

.depoimentos h1{
    font-size: 20px;
    padding: 10px 0;
}

.depoimentos p{
    font-size: 16px;
    line-height: 1.2rem;
}

/*--------------SEC5--------------*/

.sec5{
    margin: auto;
    background: #edeff384
}

.sec5div{
    max-width: 1100px;
    margin: auto;
    padding: 0px 25px;
    padding-bottom: 100px;
    text-align: center;
}

.sec5 h1{
    font-size: 35px;
    color: #000;
}

.sec5 p{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.687);
}

.sec5div img{
    max-width: 100%;
    width: 220px;
    margin-top: -100px;
}

.sec5-l{
    align-items: center;
    justify-content: center;
    margin: auto;
}

.sec5-r{
    align-items: center;
    justify-content: center;
    margin: auto;
}

/*----------SEÇÃO 6----------*/

.sec6{
    margin: auto;
    padding: 50px 25px;
}

.sec6div{
    max-width: 1080px;
    margin: auto;
}

.sec6div a{
    text-decoration: none;
}

.kits{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.desconto{
    font-size:18px;
    font-weight: 600;
    padding: 10px;
    background-color:#004526;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    margin: 10px 20px;
}

.extra{
    font-size:18px;
    font-weight: 600;
    padding: 10px;
    background-color:#ffc801;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    position: relative;
    top: -50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.item{
    border:1px solid #ececec;
    padding: 30px;
    display: block;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.item h1{
    color: #004526;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    line-height: 1em;
}

.item h2{
    color: #b2bf22;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
}

.item img{
    max-width: 100%;
    max-height: 200px;
}

.btn-kit{
    background-color: #089C2F;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    padding: 25px 25px;
    transition: 0.1s;
    text-align: center;
    font-size: 23px;
}
.btn-kit:hover{
    background-color: #087c27;
    transition: 0.1s;
}

.item-oferta{
    border:1px solid #ececec;
    background-color: #abd03c;
    padding: 30px;
    display: block;
    margin: 5px;
    box-shadow: rgba(85, 211, 85, 0.1) 0px 4px 12px;
}

.item-oferta h1{
    color: #004526;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    line-height: 1em;
}

.item-oferta h2{
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
}

.item-oferta img{
    max-width: 100%;
    max-height: 200px;
}

/*--------------SEC7--------------*/

.duvidassec7{
    margin: auto;
    background: #edeff384;
}

.duvidassec7div{
    max-width: 1100px;
    margin: auto;
    padding: 100px 25px;
    text-align: center;
}

.duvidassec7div h1{
    font-size: 35px;
}

.duvidassec7div p{
    font-size: 18px;
    color: rgb(93, 93, 93);
    font-weight: 300;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #e5e8ee;
    color: #444;
    cursor: pointer;
    padding: 20px;
    width: 80%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 17px;
    font-weight: 500;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #cc0f0f;
    color: #fff;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    margin: auto;
    width: 90%;
    background-color: white;
    display: none;
    overflow: hidden;
    text-align: left;
    padding: 20px;
    font-size: 17px;
  }
  
/*----------SEÇÃO 8----------*/

.sec8{
    margin: auto;
    padding: 50px 25px;
}

.sec8div{
    max-width: 1080px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.box2{
    background-color: #f3f3f3;
    padding: 20px;
    margin: 10px;
}

.sec8div p{
    font-size: 15px;
    font-weight: 600;
}

/*----------SEÇÃO 9----------*/

.sec9{
    margin: auto;
    padding: 50px 25px;
    background-color: #004526;
}

.sec9div{
    max-width: 1080px;
    margin: auto;
}

.atendimento{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.atendimento-box{
    background-color: #abd03c;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.atendimento a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #004526;
}

/*----------SEÇÃO 10----------*/

.sec10{
    margin: auto;
    padding: 50px 25px;
}

.sec10div{
    margin: auto;
    max-width: 1080px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.box3{
    padding: 20px;
}

.box3 h3{
    font-size: 17px;
    font-weight: 600;
}

.box3 a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    line-height: 1.7em;
}

.box3 img{
    max-width: 100%;
    width: 250px;
}

/*----------SEÇÃO 11----------*/

.sec11{
    margin: auto;
    padding: 25px;
    background-color: #f3f3f3;
}

.sec11div{
    margin: auto;
    max-width: 1080px;
}

.sec11div h1{
    font-size: 17px;
    text-align: center;
}

.sec11div p{
    font-size: 14px;
    text-align: center;
}

/*----------MOBILE----------*/

@media only screen and (max-device-width: 767px) {

    /*----------SEÇÃO 1----------*/

    .sec1div{
        margin: auto;
        display: block;
        padding: 50px 25px;
    }

    .sec1div h1{
        font-size: 35px;
    }

    .formula-r {
        display: block;
    }

    .benefits {
        display: block;
    }

    .depo {
        display: block;
    }

    .kits{
        display: block;
    }

    .atendimento {
        display: block;
    }

    .sec10div {
        display: block;
    }
}

@media only screen and (max-device-width: 480px) {

    /*----------SEÇÃO 1----------*/

    .sec1div{
        margin: auto;
        display: block;
        padding: 50px 25px;
    }

    .sec1div h1{
        font-size: 35px;
        text-align: center;
    }

    .sec1 p {
        font-size: 18px;
        text-align: center;
    }

    .sec1 li {
        font-size: 18px;
        text-align: center;
    }

    .btn-div1{
        margin: auto;
        text-align: center;
    }

    .sec4div {
        padding: 50px 25px;
    }

    .sec8div {
        display: block;
    }

    .sec8div p {
        font-size: 13px;
    }

    .sec11div p {
        font-size: 12px;
        text-align: center;
        color: rgba(0, 0, 0, 0.625);
    }

    .sec5div img {
        width: 180px;
        margin-top: -90px;
    }

    .item {
        border-radius: 5px;
    }

    .item-oferta {
        margin: 50px 5px;
        border-radius: 5px;
    }

}