@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
    color: white;
}

/*------------------------------------------------------------------SEC1------------------------------------------------------------------*/

.sec1{
    margin: auto;
    padding: 20px;
    background-color: #B13037;
    background-image: url(img/background.png);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    
}

.sec1div{
    max-width: 720px;
    margin: auto;
}

.sec1 h1{
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    color: #fff;
}

.sec1 p{
    font-size: 19px;
    font-weight: 300;
    text-align: center;
    color: #fff;
    line-height: 1.2em;
}

.sec1div2{
    max-width: 800px;
    margin: auto;
}

.divin{
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    margin-top: -180px;
}


.divin1 {
    z-index: 1;
}

.divin img{
    max-width: 100%;
    width: 300px;
}


.divin2 {
    padding-left: 70px !important;
    margin-left: -70px;
    border-radius: 8px;
    background-color: #fff;
    padding: 30px;
    align-items: center;
    box-shadow: 0px 3px 80px -6px rgb(0 0 0 / 26%)
}

.divin2 h2{
    color:#B13037;
    font-size:24px;
    font-weight: 700;
}

.divin2 p{
    font-size: 17px;
    font-weight: 300;
    text-align: left;
    line-height: 1.2em;
}

/*---Responsivo Sec1---*/
@media screen and (max-width: 680px) {
    .divin{
        display: block;
        align-items: center;
        margin-top: -180px;
        margin-bottom: 90px;
    }
    .divin2 {
        margin: 20px;
        padding: 30px !important;
        text-align: center !important;
    }

    .divin2 h2 {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .divin2 p {
        text-align: center !important;
    }

    .formula-fim{
        margin: auto;
        display: block !important;
        background-color: #f5f5f5;
        border-radius: 30px 30px 30px 30px;
    }

    .formula-fim .lado1{
        margin: auto;
        padding: 40px !important;
        text-align: center !important;
    }

    .sec2div{
        padding: 20px 25px !important;
    }
}

.btn-1{
    margin: auto;
    margin-bottom: -55px;
}


/*------------------------------------------------------------------SEC1END------------------------------------------------------------------*/

button{
    all: unset;
    cursor: pointer;
}


.btn{
    font-weight: 600 !important;
    
    color: #fff;

    border: 0px !important;
    
    background: linear-gradient(90deg, #5ec01c 0%, #54ad18 100%);
    
    
    border-radius: 50px !important;
    
    transition : 0.5s !important;
    
    align-items: center;
    
    cursor: pointer;
    
    padding: 15px 40px !important;

    
    }
    
    .btn:hover{
    color: #fff;

    transition: 0.5s !important;
    
    padding: 15px 50px !important;
    
    background: linear-gradient(90deg, #5ec01c 0%, #54ad18 100%);
    

    
    }

/*--------------SEC2--------------*/

.sec2{
    margin: auto;
    background: #fff
}

.sec2div{
    max-width: 1100px;
    margin: auto;
    padding: 100px 25px;
    text-align: center;
    padding-bottom: 50px;
}

.sec2div h1{
    font-size: 35px;
}

.sec2div p{
    font-size: 18px;
    color: rgb(93, 93, 93);
    font-weight: 300;
}

.formula{
    justify-content: center;
    align-items: center;
}

.formula-l{
    display: block;
}

.formula-r{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.formula-fim{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f5f5f5;
    border-radius: 30px 30px 30px 30px;
}

.formula-fim .lado1{
    margin: auto;
    padding: 20px;
    align-items: center;
    text-align: right;
}

.formula-fim .lado1 h1{
    line-height: 1em;
}

.formula-fim .lado1 p{
    line-height: 1.2em;
}

.formula-fim .lado2{
    margin: auto;
    padding: 20px;
}


.formula img{
    max-width: 100%;
    width: 500px;
}


.formula-r h1{
    font-size: 20px;
    text-align: center;
    color: #B13037;
    margin: 5px 0;
}

.formula-r p{
    font-size: 16px;
    text-align: center;
    line-height: 1.2em;
}

.boxformula{
    background: linear-gradient(326deg, rgba(177,48,55,1) 0%, rgba(239,69,85,1) 100%);
    padding: 20px;
    margin: 10px;
    border-radius: 20px 20px 40px 40px;
    margin-top: 60px;
}

.boxformula img{
    max-width: 100%;
    width: 90px;
    border-radius: 50px;
    margin-top: -70px;
}

.boxformula h1{
    color: #fff;
}

.boxformula p{
    color: rgba(255, 255, 255, 0.767);
}

/*--------------SEC3--------------*/

.sec3{
    margin: auto;
    background: #B13037
}

.sec3div{
    max-width: 1100px;
    margin: auto;
    padding: 100px 25px;
    text-align: center;
}

.benefits{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.sec3div h1{
    font-size: 35px;
    color: #fff;
}

.sec3div p{
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: 300;
}


.boxbenefits{
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 10px 26px -6px rgba(0,0,0,0.05);
}

.boxbenefits h1{
    font-size: 20px;
    color: #000;
}

.boxbenefits p{
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.2rem;
    color: rgb(93, 93, 93);
    font-weight: 300;
}

.boxbenefits img{
    max-width: 90px;
    border-radius: 100%;
    margin-bottom: 10px;
}

/*--------------SEC4--------------*/

.sec4{
    margin: auto;
    background: #fff
}

.sec4div{
    max-width: 1100px;
    margin: auto;
    padding: 100px 25px;
}

.sec4div h1{
    font-size: 35px;
}

.sec4div p{
    font-size: 18px;
    color: rgb(93, 93, 93);
    font-weight: 300;
}

.depo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.depo img{
    max-width: 100%;
    width: 80px;
    border-radius: 50px;
    margin-top: -65px;
}

.depoimentos{
    background-color: #f5f5f5;
    padding: 30px;
    margin: 10px;
    border-radius: 15px 40px 15px 15px;
    margin-top: 50px;
}

.depoimentos h1{
    font-size: 20px;
    padding: 10px 0;
}

.depoimentos p{
    font-size: 16px;
    line-height: 1.2rem;
}

/*--------------SEC5--------------*/

.sec5{
    margin: auto;
    background: #edeff384
}

.sec5div{
    max-width: 1100px;
    margin: auto;
    padding: 0px 25px;
    padding-bottom: 100px;
    text-align: center;
}

.sec5 h1{
    font-size: 35px;
    color: #000;
}

.sec5 p{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.687);
}

.sec5div img{
    max-width: 100%;
    width: 220px;
    margin-top: -100px;
}

.sec5-l{
    align-items: center;
    justify-content: center;
    margin: auto;
}

.sec5-r{
    align-items: center;
    justify-content: center;
    margin: auto;
}

/*----------SEÇÃO 6----------*/

.options .item {
    background-color: #ededed;
    padding: 40px 20px;
    border-radius: 30px 30px 8px 8px;
    display: block;
    color: #014500;
    font-weight: bold;
    text-transform: uppercase;
      font-size: 23px;
      position: relative;
  }
  
  .options .item .green {
    color: #abb623;
  }
  
  .options .item h3 {
      color: #616161;
      letter-spacing: -1px;
      line-height: 1.5em;
      font-size: 18px;
      margin-bottom: 2px;
  }
  
  .options .item .frete {
    font-size: 14px;
    padding: 8px;
    font-weight: 500;
    background-color: #acb6234c;
    color: #373a12;
    text-transform: none;
    margin: 10px 60px;
    border-radius: 3px 3px 15px 15px;
  }
  
  .options .item.destaque .frete {
    font-size: 14px;
    padding: 8px;
    font-weight: 500;
    background-color: #ffffff4c;
    color: #373a12 !important;
    text-transform: none;
    margin: 10px 60px;
    border-radius: 3px 3px 15px 15px;
  }
  
  .options .item .desconto {
    margin: 10px 0;
  }
  .options .item .desconto span {
    display: inline-block;
    background: #ffd640;
    color: #000000;
    font-size: 16px;
    text-transform: uppercase;
    padding: 6px 20px;
    border-radius: 10px;
  }
  
  .options .item .valor {
    padding-top: 10px;
  font-size: 30px;
      line-height: 1em;
      letter-spacing: -2px;
  }
  
  .options .item .button {
    margin-bottom: 0;
    margin-top: 10px;
    padding: 20px 40px;
    font-size: 16px;
    border-radius: 100px;
  }
  
  .options .item:hover .button{
    background: #0ABC3A;
    color: #Ffffff;
  }
  
  .options .item img {
    max-width: 100%;
    width: 200px;
  }
  
  
  .options .item.destaque {
    background: #C7D429;
    color: #ffffff;
    box-shadow: 0 8px 60px -6px rgba(152, 177, 53, 0.7)
  }
  
  .options .item.destaque h3 {
      color: #373a12;
  }
  
  .options .item.destaque .desconto span {
      background: #ffffff;
      color: #014500;
      border-radius: 10px;
  }
  
  .options .item.destaque .valor {
    color: #373a12;
  }
  
  .options .item.destaque .green {
    color: #fff;
  }
  
  .options .item .extra {
    position: absolute;
    top: -20px;
    width: 250px;
    font-size: 18px;
    left: 50%;
    margin-left: -125px;
    background: #b20fbf;
    padding: 6px 0px;
    border-radius: 50px;
    color: #ffffff;
    letter-spacing: -0.5px;
    font-weight: 500;
  }
  
  .options .item.destaque .button {
    background: #089C2F;
    color: #fff;
  }
  
  
  .options .item.destaque:hover .button{
    background: #fff;
    color: #089C2F;
  }
  
  #formas {
    margin-top: 50px;
  }
  #formas span {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #cartoes {
    margin: 10px 0 30px;
  }



  .button {
    border-radius: 4px;
        background-color: #089C2F;
        color: #ffffff;
        padding: 18px 25px;
        text-transform: uppercase;
        font-weight: bold;
        transition: none;
    }
    .button:hover,
    .button:focus,
    .button:active {
      transition: none;
      background: #0ABC3A;
      color:#ffffff;
    }
    
    
    .button.green-light {
      background-color: #A4C932;
      color:#ffffff;
    }
    .button.green-light:hover,
    .button.green-light:focus,
    .button.green-light:active {
      transition: none;
      background:#B1D24D;
      color:#ffffff;
    }

    .por-pote {
        font-size: 12px;
        font-weight: 500;
        background-color: #fff;
        color: #333;
        /* width: max-content; */
        width: 90px;
        height: 90px;
        padding: 30px 0 0px 0;
        border-radius: 100%;
        /* vertical-align: -webkit-baseline-middle; */
        position: absolute;
        right: 18px;
        top: 140px;
        z-index: 999999;
        transform-style: preserve-3d;
        /* transform: rotate(10deg) translateZ(50px); */
        animation: float-price 1s ease-in-out infinite;
        line-height: 1rem;
        box-shadow: 18px 9px 26px -19px rgba(0,0,0,0.4);
    }

        
    @keyframes float-price {
        0% {
          transform:scale(1) translateZ(50px) rotate(10deg) translate(10px, 10px);
        }
      
        50% {
          transform: scale(1.15) translateZ(50px) rotate(10deg) translate(10px, 10px);;
        }
      
        100% {
          transform: scale(1) translateZ(50px) rotate(10deg) translate(10px, 10px);
        }
      }

/*--------------DUVIDAS--------------*/

.duvidassec7{
    margin: auto;
    background: #edeff384;
}

.duvidassec7div{
    max-width: 1100px;
    margin: auto;
    padding: 100px 25px;
    text-align: center;
}

.duvidassec7div h1{
    font-size: 35px;
}

.duvidassec7div p{
    font-size: 18px;
    color: rgb(93, 93, 93);
    font-weight: 300;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    margin: 5px;
    border-radius: 10px;
    background-color: #e5e8ee;
    color: #444;
    cursor: pointer;
    padding: 20px;
    width: 90%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 17px;
    font-weight: 500;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    border-radius: 10px;
    background-color: #B13037;
    color: #fff;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    margin: auto;
    width: 94%;
    background-color: white;
    display: none;
    overflow: hidden;
    text-align: left;
    padding: 20px;
    font-size: 17px;
    border-radius: 0 0 10px 10px;
  }
  
/*----------SEÇÃO 8----------*/

.sec8{
    margin: auto;
    padding: 50px 25px;
}

.sec8div{
    max-width: 1080px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.box2{
    background-color: #f3f3f3;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

.sec8div p{
    font-size: 15px;
    font-weight: 600;
}

/*----------SEÇÃO 9----------*/

.sec9{
    margin: auto;
    padding: 50px 25px;
    background-color: #004526;
}

.sec9div{
    max-width: 1080px;
    margin: auto;
}

.sec9div h1{
    line-height: 1.1em;
    font-size: 30px;
}

.atendimento{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.atendimento-box{
    background-color: #abd03c;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}

.atendimento a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #004526;
}

/*----------SEÇÃO 10----------*/

.sec10{
    margin: auto;
    padding: 50px 25px;
}

.sec10div{
    margin: auto;
    max-width: 1080px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.box3{
    padding: 20px;
}

.box3 h3{
    font-size: 17px;
    font-weight: 600;
}

.box3 a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    line-height: 1.7em;
}

.box3 img{
    max-width: 100%;
    width: 250px;
}

/*----------SEÇÃO 11----------*/

.sec11{
    margin: auto;
    padding: 25px;
    background-color: #f3f3f3;
}

.sec11div{
    margin: auto;
    max-width: 1080px;
}

.sec11div h1{
    font-size: 17px;
    text-align: center;
}

.sec11div p{
    font-size: 12px;
    text-align: center;
    color: #373737;
}

/*----------MOBILE----------*/

@media only screen and (max-device-width: 767px) {

    

    .formula-l{
        display: block;
    }

    .formula-r {
        display: block;
    }

    .benefits {
        display: block;
    }

    .depo {
        display: block;
    }

    .kits{
        display: block;
    }

    .atendimento {
        display: block;
    }

    .sec10div {
        display: block;
    }
}

@media only screen and (max-device-width: 480px) {


    .btn-div1{
        margin: auto;
        text-align: center;
    }

    .sec4div {
        padding: 50px 25px;
    }

    .sec8div {
        display: block;
    }

    .sec8div p {
        font-size: 13px;
    }

    .sec11div p {
        font-size: 12px;
        text-align: center;
        color: rgba(0, 0, 0, 0.625);
    }

    .sec5div img {
        width: 180px;
        margin-top: -90px;
    }

    .item {
        border-radius: 5px;
    }

    .item-oferta {
        margin: 50px 5px;
        border-radius: 5px;
    }

    .options .item {
        padding:45px;
        font-size: 25px;
        margin-bottom: 15px;
      }
      .options .item .frete {
          font-size: 14px;
        }
        .options .item h3 {
          line-height: 1.4em;
          font-size: 18px;
          margin-bottom: 0;
        }
      
        .options .item img {
          margin: 10px 0 10px;
      }
      
      .options .item .desconto span {
        padding:7px 20px 6px;
        font-size: 20px;
      }
      .options .item .valor {
          font-size: 30px;
          line-height: 60px;
          }
      
      .options .item .button {
          padding: 20px 40px;
          font-size: 18px;
      }
      
      .options .item .extra {
          position: relative;
          top: inherit;
          width: auto;
          font-size: 18px;
          left: inherit;
          margin-left: 0;
          margin: 0;
          margin-bottom: 15px;
          padding: 7px 20px 6px;
              display: inline-block;
          }

}